h1{
    color: rgb(161, 127, 255);
}

div{
    background-color: blue;
}

.heading{
    color: red;
}


body{
    background-image: -moz-element();
}



body{
    background-color: aquamarine;
    background-image: ;
}